body {
    background-color: #2a70ae;
    color: white;
  }
  
  h1, p {
    text-align: center;
    margin: 30px;
  }
  
  label {
    display: block;
    padding: 10px;
  }
  
  option {
    text-align: center;
  }
  
  button {
    display: block;
    margin: 10px;
  }
  
  textarea {
    resize: vertical;
    margin: 10px;
    display: block;
    width: 30%
  }
  
  form {
    color: black;
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
  }